.cm-s-inner {
    padding: 0.25rem;
    border-radius: 20px 20px 20px 20px;
}

.cm-s-inner.CodeMirror,
.cm-s-inner .CodeMirror-gutters {
    color: #3a3432 !important;
    border: none;
}

.cm-s-inner .CodeMirror-gutters {
    color: #6d8a88;
}

.cm-s-inner .CodeMirror-linenumber {
    padding: 0 0.1rem 0 0.3rem;
    color: #b8b5b4;
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
    background: var(--shadow-color);
}

.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
    background: var(--shadow-color);
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #a34e8f !important;
}

#fences-auto-suggest .active {
    background: #ddd;
}

.cm-s-inner span.cm-comment {
    color: #9daab6;
}

.cm-s-inner span.cm-builtin {
    color: #0451a5;
}
