@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'), url('./liquid/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: bold;
    src: local('JetBrains Mono Bold'), local('JetBrainsMono-bold'), url('./liquid/JetBrainsMono-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'SourceHanSerifCN';
    font-style: normal;
    font-weight: normal;
    src: local('思源宋体 CN Medium'), local('SourceHanSerifCN-Medium'), url('./liquid/SourceHanSerifCN-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SourceHanSerifCN';
    font-style: normal;
    font-weight: bold;
    src: local('SourceHanSerifCN-Bold'), local('SourceHanSerifCN-Bold'), url('./liquid/SourceHanSerifCN-Bold.ttf') format('ttf');
}


@font-face {
    font-family: 'Ink Free';
    font-style: normal;
    font-weight: normal;
    src: local('Ink Free'), local('inkfree'), url('./liquid/inkfree.ttf') format('ttf');
}

@font-face {
    font-family: 'FZSJ-SGLDXMHJW';
    font-style: normal;
    font-weight: normal;
    src: local('方正手迹-时光里的小美好'), local('方正手迹-时光里的小美好 常规'), local('FZSJ-SGLDXMHJW'), url('./liquid/FZSJ-SGLDXMHJW.TTF') format('TTF');
}


:root {
    --base-font: "思源宋体 CN Medium", "Helvetica Neue", "Noto Sans", -apple-system, Ubuntu,
    "Microsoft YaHei", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans",
    "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC",
    "Source Han Sans CN", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", "Source Sans Pro", sans-serif;
    --title-font: "思源宋体 CN Medium", "EB Garamond", Georgia, "Noto Serif", "Noto Serif CJK SC",
    "Nimbus Roman No9 L", "Songti SC", "Source Han Serif SC",
    "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun,
    SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN",
    "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU,
    "Ubuntu", "Source Sans Pro", serif;
    --monospace: "JetBrains Mono", "Fira Code", "Cascadia Code", "Sarasa Term SC",
    Monaco, "Deja Vu Sans Mono", Consolas, "Lucida Console", "Andale Mono",
    "Roboto Mono", Courier, Monospace !important;
}
  